@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color: #001529;
  --primary-blue-color: #1677FF;
  --primary-white-color: #fff;
  --primary-gray-color: #F5F5F5;
}

body {
  background-color: var(--primary-gray-color);
  overflow: hidden;
}

.primary_background {
  background-color: var(--primary-color);
}

.primary {
  background-color: var(--primary-blue-color);
  color: var(--primary-white-color);
}